@charset "UTF-8";

@font-face {
    font-family: 'signika';
    src: url(fonts/SignikaNegative-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'amatic';
    src: url(fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: 'yesevaone';
    src: url(fonts/YesevaOne-Regular.ttf);
}

:root {
    --fontetitulo: 'yesevaone';
    --fontepadrao: 'signika';
    --fonteextra: 'amatic';
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    height: 60px;
    text-align: center;
    padding: .2vw;
}

nav {
    position: absolute;
    top: 1.2vw;
    right: 2.8vw;
}

nav img {
    height: 30px;
    width: auto;
}

img.vela01 {
    width: 55px;
    height: auto;
}

section#principal > div.texto {
    display: flex;
    align-items: center;
    background-color: #3a3939;
    background-image: url(../imagens/pexels-esrakorkmaz-15420087.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 30px 50px rgba(0, 0, 0, 0.623);
    margin: 0% 3% 3%;
    height: 600px;
}

div.quote {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

section#principal h2 {
    font-family: var(--fontetitulo);
    color: #fffafa;
    text-shadow: 1px 1px 6px #00000017;
    font-size: 3.5vw;
    width: 50%;
}

blockquote {
    position: relative;
    top: 60%;
    font-family: var(--fonteextra);
    color: #fffafa;
    text-shadow: 1px 1px 2px #00000017;
    font-size: 1.8vw;
    padding-top: 14px;
    font-family: 'amatic';
}

section.container01 {
    background-color: #b29d6e;
    background-image: linear-gradient(62deg, #c49d4b 0%, #a5802f 100%);   
    margin: 6% 0%;
}

.quemsomos-texto {
    display: flex;
    padding: 3% 3%;
    flex-direction: row;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}

.container01 h3 {
    display: flex;
    font-family: var(--fonteextra);
    font-size: 5.5em;
    color: #fffafa;
    text-shadow: 1px 1px 4px #00000017;
    justify-content: center;
    width: 800px;
}

.container01 p {
    font-family: var(--fontepadrao);
    font-size: 1em;
    line-height: 1.1em;
    color: #fffafa;
    height: 100%;
    padding: 5px;
    text-shadow: 1px 1px 4px #00000017;
    text-align: center;
}

.container01 span {
    display: block;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2em;
    font-family: 'yesevaone';
    text-shadow: 1px 1px 4px #0000000e;
    padding: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 50px #46504f1a;
    color: #46504F;
    border-radius: 10px 0px ;
}

.container01 a {
    display: flex;
    text-align: center;
    align-items: flex-end;
    width: 365px;
    margin: auto;
    margin-top: 2em;
    text-decoration: none;
    background-color: #46504F;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-size: larger;
    letter-spacing: 5px;
    transition: .4s;
    transition-delay: 50ms;
}

.container01 a:hover {
    background-color: #fff;
    color: #46504F;
}

.container02 {
    height: 600px;
    background-color: #3a3939;
    background-image: url(../imagens/sixteen-miles-out-iSyyY1GfYSw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0px 50px 50px #0000009f;
    margin: 3%;
    border-radius: 5px;
}

.nossos-produtos-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.container02 div.texto02 {
    display: flex;
    flex-direction: column;
}

div.texto02 h3 {
    font-family: var(--fontetitulo);
    font-size: 6.5vw;
    color: #fffafa;
    text-shadow: 1px 1px 6px #00000017;
    text-align: center;
    margin-bottom: 25px;
}

div.texto02 .conhecer {
    display: flex;
    margin: auto;
    text-decoration: none;
    background-color: #D18800;
    border-radius: 6.5px;
    font-family: var(--fontepadrao);
    font-size: 1.6vw;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 13px 18px;
    color: #fff;
    text-shadow: 1px 1px 6px #00000017;
    transition: .4s;
    transition-delay: 50ms;
}

div.texto02 .conhecer:hover {
    background-color: #c25618;
    color: #fff;
    box-shadow: 2px 2px 40px #0000005e;
}

section.container03 {
    background-color: #f2f2f2;
    border-radius: 20px 20px 0px 0px;
}

div.titulo-produtos {
    text-align: center;
    font-family: var(--fontetitulo);
    font-size: 2rem;
    color: #2d3332;
    text-shadow: 2px 2px 3px #0000002c;
    padding: 50px 50px 10px 50px;
    margin-top: 80px;
}

div.mais-produtos {
    display: flex;
    justify-content: center;
    padding: 10px 10px 90px 10px;
    margin: 10px 10px 0px 10px;
    max-width: 1250px;
    margin: auto;
}

div.mais-produtos > div {
    background-color: black;
    height: 500px;
    width: 400px;
    margin: 10px;
}

.parent {
    width: 45%;
    height: 300px;
}

.bg-link {
    text-decoration: none;
}

.bg-wrapper {
    transition: all .4s;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.bg-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition-duration: 1500ms;
    box-shadow: inset 0 600px 600px #00000041;
    z-index: 1;
}

.aromas {
    background-image: url(../imagens/pexels-pixabay-33197.jpg);
}

.personalizados {
    background-image: url(../imagens/pexels-cottonbro-5857859.jpg);
}

.outros {
    background-image: url(../imagens/pexels-n-voitkevich-7852673.jpg);
}

.bg-image:hover {
    box-shadow: inset 0 600px 600px #0000007a;
    transform: scale(1.2);
}

.bg-content {
    display: flex;
    position: relative;
    bottom: 50%;
    justify-content: center;
    color: #F2F2F2;
    font-family: var(--fontepadrao);
    text-decoration: none;
    text-transform: uppercase;
    pointer-events: none;
    z-index: 2;
}

.bg-content > h3 {
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    letter-spacing: 1.2px;
    text-shadow: 1px 2px 6px #00000023;
    box-shadow: inset 1px 2px 6px #00000017;
}

.bg-content > p {
    color: #fff;
    position: absolute;
    text-align: center;
    text-transform: none;
    font-size: 1.1rem;
    bottom: 135%;
    padding: 0px 10px;

}

.container04 > div.shipping {
    height: 200px;
    background-color: #C26440;
    color: #F2F2F2;
    text-shadow: 1px 2px 10px #00000010;
}

.shipping {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.shipping-texto {
    display: flex;
    flex-direction: column;
}

.shipping-texto > h3 {
    font-family: var(--fontetitulo);
    font-size: 2rem;
}

.shipping-texto > p {
    font-family: var(--fontepadrao);
    font-size: 1.4rem;
}

.shipping > svg {
    padding: 25px;
    width: 40px;
    height: 40px;
}

.shipping .arrow {
    margin: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(1.2);
    transition: .5s;
}

.arrow:hover {
    transform: scale(1.5);
}

.container05 {
    background-color: #F2F2F2;
}

.container05 > div.fale-conosco {
    display: flex;
    flex-direction: column;
    padding: 100px 3%;
}

div.fale-conosco h3 {
    text-transform: uppercase;
    margin: 10px;
    font-family: var(--fontepadrao);
    letter-spacing: 1.2px;
    text-align: center;
    color: #282e2d;
}

div.duvida {
    padding: 10px;
    margin: auto;
    font-size: 1.5rem;
    font-family: var(--fontetitulo);
    color: #282e2d;
}

div.duvida-texto {
    font-family: var(--fontepadrao);
    font-weight: 100;
    width: 50%;
    margin: auto;
    text-align: center;
}

.fale-conosco p {
    padding-left: 10px;
    text-decoration: none;
    font-family: var(--fontepadrao);
    color: #46504F;
    transition: .5s;
}

.fale-conosco .elemento-hover:hover, .fale-conosco svg {
    color: #D18800;
    fill: #D18800;
}

.contatos-flex {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.whatsapp-flex, .call-flex, .email-flex {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #e0e4e4;
    box-shadow: 1px 1px 6px #0000003d;
}

.caixas {
    width: 300px;
    height: 60%;
    margin: 10px;
}

.caixas h3 {
    font-family: var(--fontepadrao);
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 1.2px;
    color: #373f3e;
}

.caixas-copyright {
    width: 300px;
    text-align: center;
    font-family: var(--fontepadrao);
    font-weight: 100;
    color: #46504F;
}

.texto-footer, .texto-footer a {
    font-family: var(--fontepadrao);
    text-decoration: none;
    color: #46504F;
    margin: 10px;
    font-weight: 100;
}

.texto-footer ul {
    list-style-type: none;
    margin-left: -10px;
}

ul a, .texto-footer > p, .container-footer svg, .caixas-copyright {
    transition: all .3s;
}

.container-footer svg {
    fill: #46504F;
    height: 25px;
    width: auto;
    margin-left: -10px;
}

.container-footer svg:hover, .texto-footer > p:hover, ul a:hover, .caixas-copyright:hover {
    fill: #D18800;
    color: #D18800;
}

/* Elementos animados */


.fadeup-hdr {
    opacity: 0;
    transform: translateY(100px);
    transition: .4s;
    transition-delay: 100ms;
}

.fadeup-hdr.visible {
    transform: translate(0);
    opacity: 1;
}

.quote-transition {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
    transition-delay: 500ms;
}

.quote-transition.visible {
    transform: translate(0);
    opacity: 1;
}

.scroll-element {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.5s;
    transition-delay: 100ms;
}

.scroll-element.visible {
    transform: translateX(0);
    opacity: 1;
}

.scroll-sec {
    opacity: 0;
    transform: translateX(-200px);
    transition: .5s;
    transition-delay: 100ms;
}

.scroll-sec.visible {
    transform: translate(0);
    opacity: 1;
}

.scroll-fadeup {
    opacity: 0;
    transform: translateY(100px);
    transition: .8s;
    transition-delay: 1000ms;
}

.scroll-fadeup.visible {
    transform: translate(0);
    opacity: 1;
}

.scroll-fadeup-02 {
    opacity: 0;
    transform: translateY(200px);
    transition: 1s;
    transition-delay: 50ms;
}

.scroll-fadeup-02.visible {
    transform: translate(0);
    opacity: 1;
}

#scroll-fadeup-03 {
    opacity: 0;
    transform: translateY(200px);
    transition: 1.1s;
    transition-delay: 80ms;
}

#scroll-fadeup-03.visible {
    transform: translate(0);
    opacity: 1;
}

.car-fade {
    transform: translateX(-500px);
    transition: ease-in-out 2s;
    transition-delay: 200ms;
}

.car-fade.visible {
    transform: translate(0);
}